<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <!-- Nav Icon -->
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="col-sm-10 ml-sm-0 col-md-6 col-lg-3 ml-md-auto">
        <!-- Login / Username Display -->
        <% if (user) { %>
          <div class="input-group">
            <h6 class="mt-2 ml-1 mr-3">You are logged in as <%= user.email %></h6>
            <form action="/logout" method="POST">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Logout</button>
              </span>
            </form>
          </div>
          <% } else { %>
          <a href="/urls/login">
            <button type="submit" class="btn btn-primary">Login</button>
          </a>
          <a href="/urls/register">
            <button type="submit" class="btn btn-primary">Register</button>
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>